



.tab-pane .tab-header-area .tab-header-background {

   -fx-background-color:#606365;
}

.tab-pane .tab-header-area .tab {
-fx-background-color: transparent;
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}



.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}



.table-view .column-header-background{
    -fx-background-color:  #434343;
}

.table-view .column-header-background .label{

    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color:  #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-cell{
    -fx-text-fill: white;
     }

.list-cell{
          -fx-background-color:  #616161;
          -fx-background-insets: 0;
          -fx-padding: 0;
          -fx-border-width: 1;
          -fx-border-color:#616161;
      }

.list-cell:odd{
          -fx-background-color: #424242;
          -fx-background-insets: 0;
          -fx-padding: 0;
          -fx-border-width: 1;
          -fx-border-color: #424242;
      }

.label{
       -fx-text-fill:white;}
.hbox {
    -fx-background-color:  #434343;
    -fx-padding: 15;
    -fx-spacing: 10;
}


 .combo-box .arrow-button{
  -fx-background-color: #2f4f4f;
}

.combo-box {  -fx-background-color: transparent;
              -fx-focus-color: transparent;
              -fx-faint-focus-color: transparent;
              }

.combo-box .arrow{
-fx-background-color: white;
-fx-text-fill: white;}


.text-field{
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-border-color: #2f4f4f;

}

.combo-box-base{
-fx-background-color: transparent;
-fx-text-fill: white;
}
.combo-box-base .arrow{-fx-background-color: white;
                       -fx-text-fill: white;}

 .combo-box-base .arrow-button{
  -fx-background-color: #2f4f4f;
}

.chart-pie-label{
-fx-fill: white;
}


.chart-legend-item{
-fx-text-fill: white;
-fx-background-color:black;
-fx-font-size:6;
}

.menu{  -fx-background-color: transparent;
              -fx-focus-color: transparent;
              -fx-faint-focus-color: transparent;
              }








pie-legend-symbol <ith data item’s style class>


{
fa-reorder
fa-plus
fa-list
fa-money
fa-pencil-square-o
}