



.tab-pane .tab-header-area .tab-header-background {

   -fx-background-color:#3C3F41;
}

.tab-pane .tab-header-area .tab {
-fx-background-color: transparent;
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

    #variableCategoriesMenu {
     -fx-background-color:transparent;
    }
    #fixedCategoriesMenu {
         -fx-background-color:transparent;
        }
    #searchTransactionsMenu {
         -fx-background-color:transparent;
         }
    #transactionsDateMenu {
        -fx-background-color:transparent;
    }




.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}



.table-view .column-header-background{
    -fx-background-color:  #2B2B2B;
}


.table-view .column-header-background .label{

    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color:  #3C3F41;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: #2B2B2B;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}


.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-cell{
    -fx-text-fill: white;
     }

.list-cell{
          -fx-background-color:  #3C3F41;
          -fx-background-insets: 0;
          -fx-padding: 0;
          -fx-border-width: 1;
          -fx-border-color:#3C3F41;
      }

.list-cell:odd{
          -fx-background-color: #2B2B2B;
          -fx-background-insets: 0;
          -fx-padding: 0;
          -fx-border-width: 1;
          -fx-border-color: #2B2B2B;
      }


.text-field{

  -fx-border-radius: 5 5 5 5;
  -fx-background-radius: 5 5 5 5;

  /* top-left, top-right, bottom-right, and bottom-left corners, in that
  order. */

}

#switchList:hover{
-fx-background-color: #4e5254;

}





.label{
       -fx-text-fill:white;}
.hbox {
    -fx-background-color:  #2B2B2B;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.text-input {
 -fx-text-fill:  #2B2B2B;
}


 .combo-box .arrow-button{
  -fx-background-color: #3C3F41;
}

.combo-box {  -fx-background-color: transparent;
              -fx-focus-color: transparent;
              -fx-faint-focus-color: transparent;
              }

.combo-box .arrow{
-fx-background-color: white;
-fx-text-fill: white;}


.text-field{
  -fx-background-color: transparent;
  -fx-text-fill: white;
  -fx-border-color: #3C3F41;

}

.combo-box-base{
-fx-background-color: transparent;
-fx-text-fill: white;
}
.combo-box-base .arrow{-fx-background-color: white;
                       -fx-text-fill: white;}

 .combo-box-base .arrow-button{
  -fx-background-color: #3C3F41;
}

.chart-pie-label{
-fx-fill: transparent;
}


.chart-legend {
   -fx-background-color:  transparent;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart-legend-item{
-fx-text-fill: white;
-fx-background-color:transparent;
-fx-font-size:10;
}

.context-menu{
-fx-background-color: rgba(0%,0%,0%,0.5);
-fx-focus-color: rgba(0%,0%,0%,0.5);
-fx-faint-focus-color: rgba(0%,0%,0%,0.5);
              }


.custom-menu-item{
-fx-background-color: rgba(0%,0%,0%,0.5);
              -fx-focus-color: rgba(0%,0%,0%,0.5);
              -fx-faint-focus-color: rgba(0%,0%,0%,0.5);
              -fx-faint-focus-color: rgba(0%,0%,0%,0.5);

}

.grid-pane{


}







pie-legend-symbol <ith data item’s style class>


{
fa-reorder
fa-plus
fa-list
fa-money
fa-pencil-square-o

#2B2B2B;
#3C3F41;
#323232;
}